body {
  font-family: monospace;
  font-size: 18px;
}
.container {
  position: relative;
  width: 800px;
}

img {
  display: block;
  border: 1px black solid;
  width: 100%;
  border-radius: 10px;
}

.box {
  position: absolute;
  left: var(--mx);
  top: var(--my);
  width: var(--box_size);
  aspect-ratio: 1;
  pointer-events: none;
  box-shadow: 0px 0px 20px 0px #000;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
}

.popup {
  width: max-content;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px black solid;
  left: var(--mx);
  top: var(--my);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease, width 0.25s ease;
  z-index: 2;
  margin: 2%;
}

.popup.show {
  opacity: 0.9;
}

.popup > *:not(hr) {
  padding: 0.25rem;
}

.flex {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.list {
  max-height: 500px;
  border: 1px #000 solid;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
  width: max-content;
  list-style-type: none;
}

.list li {
  padding: 0.5rem 1rem 0;
  cursor: pointer;
  background-color: #fff;
  transition: background 0.25s ease;
}

.list li:hover,
.list li.hover {
  background-color: powderblue;
}

@keyframes fade {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: powderblue;
  }
}
